In [1]:
import matplotlib.pyplot as plt
import cPickle as pickle
import pandas as pd

## Category vs Number of Reviews

In [ ]:
resto_review = pickle.load( open( "resto_review.p", "rb" ) )

In [ ]:
resto_review.loc[resto_review['categories'].str.contains('Restaurants'),'categories'] = 'Restaurants'

In [ ]:
fig, ax = plt.subplots()
resto_review['categories'].value_counts(sort=False).plot(ax=ax)
ax.set_xticklabels(range(1000))
plt.title('Category vs No of Reviews')
plt.show()
fig.savefig('category')

## State vs No of Reviews

In [2]:
resto_review_state = pickle.load( open( "resto_review_state.p", "rb" ) )

In [3]:
list(resto_review_state.columns.values)

['state', 'review_id']

In [4]:
resto_review_state.groupby('state').count()

       review_id
state
AK             3
AL            11
AZ       1029103
BW          3721
CA            90
EDH        30003
ELN           32
FIF           15
FL             5
HAM            2
IL         19045
KHL            5
MLN         1262
MN             4
NC        165625
NM            12
NTH           10
NV       1154799
NW             2
ON          5854
PA        111542
QC         88046
RP            21
SC          4996
SCB            8
TAM            6
TX           911
WI         69917
XGL           13

In [ ]:
fig, ax = plt.subplots()
resto_review_state['state'].value_counts(sort=False).plot(ax=ax)
ax.set_xticklabels(range(1000))
plt.title('State vs No of Reviews')
#plt.xticks(resto_review_state.index, resto_review_state['state'], rotation=90)
plt.show()
fig.savefig('state')

## Length of Review vs Average Rating

In [ ]:
resto_review_full = pickle.load( open( "resto_review_full.p", "rb" ) )

In [ ]:
resto_review_full['length'] = resto_review_full.text.dropna().str.len()

In [ ]:
df = resto_review_full.loc[resto_review_full['length'] <=2000]

In [ ]:
fig, ax = plt.subplots()
df.groupby(['length']).mean().plot(ax=ax)
plt.ylabel('Star Rating')
plt.xlabel('Length of review')
plt.title('Length of Review vs Average Rating')
plt.show()
fig.savefig('review_rating')